.game-clear {
  position: fixed; /* 要素を画面に固定 */
  top: 0;
  left: 0;
  width: 100vw; /* ビューポートの幅全体 */
  height: 100vh; /* ビューポートの高さ全体 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 201, 105, 0.9); /* 半透明の背景 */
  color: #fff;
  z-index: 1000; /* 他の要素より前面に表示 */
}

.game-clear h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: "MS Pゴシック" ;
}

.game-clear button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #46a049;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-clear button:hover {
  background-color: #357a38;
}
